<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<typeAliases>
		<typeAlias type="com.min.naementor.dtos.NaememberDto" alias="NMDto"/>
		<typeAlias type="com.min.naementor.dtos.AttachFileDto" alias="ADto"/>
		<typeAlias type="com.min.naementor.dtos.ProfileDto" alias="PRDto"/>
	</typeAliases>
	
<mappers>
		<mapper resource="/sqls/Statement_Naemember.xml"/>
		<mapper resource="/sqls/Statement_AttachFile.xml"/>
		<mapper resource="/sqls/Statement_Profile.xml"/>
	</mappers>
</configuration>
