<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<typeAliases>
		<typeAlias type="com.min.naementor.dtos.NaememberDto" alias="NMDto"/>
		<typeAlias type="com.min.naementor.dtos.AttachFileDto" alias="AFDto"/>
		<typeAlias type="com.min.naementor.dtos.ProfileDto" alias="PRDto"/>
		<typeAlias type="com.min.naementor.dtos.PaymentDto" alias="PMDto"/>
		<typeAlias type="com.min.naementor.dtos.NotiQuestionDto" alias="NQDto"/>
		<typeAlias type="com.min.naementor.dtos.FindingMentorDto" alias="FMDto"/>
		<typeAlias type="com.min.naementor.dtos.MatchingDto" alias="MTDto"/>
		<typeAlias type="com.min.naementor.dtos.MemberScheduleDto" alias="MSDto"/>
		<typeAlias type="com.min.naementor.dtos.ReportDto" alias="RPDto"/>
		<typeAlias type="com.min.naementor.dtos.ReviewDto" alias="RVDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/sqls/Statement_Naemember.xml"/>
		<mapper resource="/sqls/Statement_AdminBoard.xml"/>
		<mapper resource="/sqls/Statement_AttachFile.xml"/>
		<mapper resource="/sqls/Statement_Profile.xml"/>
		<mapper resource="/sqls/Statement_Payment.xml"/>
		<mapper resource="/sqls/Statement_NotiQuestion.xml"/>
		<mapper resource="/sqls/Statement_FindingMentor.xml"/>
		<mapper resource="/sqls/Statement_Matching.xml"/>
		<mapper resource="/sqls/Statement_MemberSchedule.xml"/>
		<mapper resource="/sqls/Statement_Report.xml"/>
		<mapper resource="/sqls/Statement_Review.xml"/>
	</mappers>
	
</configuration>
