@charset "UTF-8";

#newNick{
		border: 1px solid black;
		background-color: white;
		position: absolute;
		top: 200px;
		left: 500px;
		display: none; /*이렇게 하면 숨겨짐*/
		width: 500px;
	}
	
#newIntro{
		border: 1px solid black;
		background-color: white;
		position: absolute;
		top: 200px;
		left: 500px;
		display: none; /*이렇게 하면 숨겨짐*/
		width: 300px;
	}
	
#newPhoneNum{
		border: 1px solid black;
		background-color: white;
		position: absolute;
		top: 200px;
		left: 500px;
		display: none; /*이렇게 하면 숨겨짐*/
		width: 300px;
	}
	
input {
	width: 100%;
	height: 50px;
	text-align: center;
}
.profileButton{
	text-align: center;
	margin: 10px;
}
.myButton3 {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton3:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton3:active {
	position:relative;
	top:1px;
}
th {
	width: 300px;
	text-align: right;
}

.divProfile{
	text-align: center;
	margin-bottom: 20px;
}
